@{
    ViewData["Title"] = "Home Page";
}

<!-- Header -->

<div class="intro-text " style="text-align:center;">
    <h1>Welcome To Bid Products Platform!</h1>

    <img src="~/Content/img/Bid-shutterstock.jpg" />
</div>
